/* BORDERS */
$input-border: rgb(21, 21, 21);

/* TEXT */
$primary-text: rgb(29, 29, 29);
$secondary-text: gray;

/* BACKGROUND */
$button-primary: rgb(33, 100, 33);
$button-secondary: rgb(229, 231, 235);